/**
 * Parallax Scrolling Tutorial
 * For Smashing Magazine
 * July 2011
 *  
 * Author: Richard Shepherd
 *		   www.richardshepherd.com
 * 		   @richardshepherd   
 */

h1 {
    font-family:  'Lobster Two';
    font-size: 84px;
    color: #fff;
    margin-bottom: 0.5em;
}
article h2 {
    font-family: 'Lobster Two';
    font-size: 60px;
    margin: 25px 0;
    line-height: 1em;
}

.story {
    height: 1000px;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#first {
    background: url(../images/london5.jpg) 50% 0 no-repeat fixed;
}

#london {
    background: url(../images/big_ben.jpg) 50% 0 no-repeat fixed;
}

#kent {
    background: url(../images/canterbury_cathedral.jpg) 50% 0 no-repeat fixed;
}

#paris {
    background: url(../images/paris_night.jpg) 50% 0 no-repeat fixed;
}

#theend {
    background: url(../images/puckered.png) 50% bottom no-repeat fixed;
}

/* Introduction */
#first .smashinglogo {
    background: url(../images/smashing-logo.png) 50% 100px no-repeat fixed;
    min-height: 1000px;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
}

#first article {
    background: none;
    background: rgba(255,255,255,0.1);
    margin-left: 22%;
    max-width: 55%;
    top: 300px;
    position: absolute;
    text-align: justify;
    padding: 0em 1em 2em 3em;
    /*text-align: center;*/
}
#first article h2 {
    text-align: center;
}
#first article p,
#first article a {
    color: #fff;
    font-size: 18px;
    line-height: 1.25em;
}

#first article p {
    margin-bottom: 1em;
    margin-left: 10%;
    width: 80%;
}

#first article a {
    text-decoration: underline;
    text-shadow: none;
}

#first article a:hover {
    color: #fff;
}

.lead {
    text-shadow: 0 10px 0 rgba(0,0,0,0.5)
}

#first article div.footer {
    width: 50%;
    left: 25%;
    position: fixed;
    bottom: 1%;
}

#first article div.footer p {
    line-height: 1em;
    font-size: 10px;
    text-align: center;
    margin-bottom: 3px;
}

/* Background Only */
#london {
    padding: 50px 0;
}

#london article {
    font-size: larger;
    /*background: url(../images/grain.png) repeat #333;*/
    background: rgba(3,3,3,0.5);
    color: #fff;
    width: 445px;
    margin-left: 100px;
    padding: 0em 2em 3em 2em;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    line-height: 1.5em;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    border: 1px solid rgba(150,150,150,0.1);
}

/*#london article strong,*/
/*#london article a {*/
    /*text-decoration: none;*/
    /*font-size: larger;*/
    /*font-weight: bold;*/
    /*text-shadow: 0 3px 0 rgba(0,0,0,0.5);*/
/*}*/

#london article p {
    margin-bottom: 25px;
}

#london article a {
    color: #fff;
}

/* Photograph */
#kent article {
    /*background: url(../images/grain.png) repeat #333;*/
    background: rgba(3,3,3,0.5);
    color: #fff;
    padding: 0em 2em 3em 2em;
    margin: 100px 0 0 60%;
    font-size: larger;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    line-height: 1.5em;
    color: #fff;
    position: absolute;
    top: 0;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    border: 1px solid rgba(150,150,150,0.1);
}

#kent .photograph {
    background: url(../images/photo.png) transparent 40% 100px no-repeat fixed;
    min-height: 1000px;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
}

#kent article p {
    /*width: 300px;*/
    margin-bottom: 25px;
}

#kent article div.textbox {
    width: 500px;
}

/* HTML5 Video */
#paris article {
    margin-left: 10%;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    font-size: larger;
    line-height: 1.5em;
    color: #fff;
    position: absolute;
    top: 0;
    background: rgba(3,3,3,0.5);
    padding: 0px 3em 2em 3em;
}

#paris article p {
    width: 400px;
    margin: 50px 0;
}

#paris video {
    position: fixed;
    left: 50%;
    box-shadow: 0 0 25px rgba(0,0,0,0.7);
    z-index: 1;
}

/* The End */
#theend .byebye {
    background: url(../images/theend.png) 40% 100px no-repeat fixed;
    height: 1000px;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
}

#donations article {
    margin: 50px 0 0 50px;
}

#donations article div.textbox {
    margin-left: 11%;
    width: 75%;
}
#donations h1 {
    color: #fff;
    text-align: center;
}

div.blog_skip_button {
    color: #fff;
    position: fixed;
    bottom: 15px;
    left: 15px;
}

a.button {
    width: auto;
    background-color: #3278BE;
    font-size:30px;
    color:#fff;
    text-decoration: none;
    display:block;
    padding:10px;
    border:1px solid #DDD;
    text-align:center;

    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
}

p.section-nav {
    top: 1em;
    position: relative;
    margin-bottom: 1em;
}

p.section-nav a {
    color: #fff;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

p.section-nav a:hover {
    background-color: #3278be;
}

a.prev {
    position: absolute;
    bottom: 5px;
    left: 15px;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

a.next {
    position: absolute;
    bottom: 5px;
    right: 15px;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

.center {
    text-align: center;
}

a.button:hover {
    color:#fff;
    border-color:#3278BE;
}

p.sponsors {
    font-size: smaller;
    color: #000;
}

span.donor {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-right: 3px;
    padding: 3px;
    background: #ffdb58;
}

.license {
    color: #fff;
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-weight: normal;
    font-size: 10px;
}

td.error {
color: red;
    font-size: 0.5em;
}

strong {
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    text-shadow: 0 3px 0 rgba(0,0,0,0.5);
}

a.sponsor {
    font-weight: normal;
    font-size: medium;
    margin-left: 20%;
    max-width: 50%;
    width: auto;
    margin-bottom: 1em;
    /*background-color: #6E6983;*/
}

#blanket {
    background-color: #111;
    opacity: 0.65;
    filter: alpha(opacity=65);
    position: fixed;
    z-index: 9998;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

table.form_table {
    font-size: 24px;
    width: 100%;
}

/*td {
    border: 1px black solid;
}*/

tr.optional_address {
    display: none;
}

tr#check_div,
tr#cc_div {
    display: none;
}

td.label {
    color: #333;
    padding: 0.25em;
    vertical-align: top;
    font-size: 12pt;
}

td.postcard {
    padding-top: 5px;
}

td input {
    width: 100%;
}

td [type=checkbox] {
    width: auto;
    vertical-align: middle;
    margin-bottom: 0.35em;
    margin-right: 1em;
}

td [type=radio] {
    margin-right: 0.5em;
    margin-left: 1em;
    margin-bottom: 0.7em;
    vertical-align: middle;
    width: auto;
}

span.required {
    font-weight: bold;
}

td.error {
    text-align: right;
    margin-top: 0;
    font-size: 0.5em;
    color: red;
    vertical-align: baseline;
}

input.submit {
    height: 2em;
    font-size: 24px;
}

div#sponsor_form {
    font-family: "Coming Soon";
    background: url(../images/parispostcard_scaled.jpg) no-repeat transparent;
    position: fixed;
    top: 15%;
    left: 15%;
    display: none;
    z-index: 9999;
    height: 633px;
    width: 1006px;
    color: #000;
    box-shadow: 0 0 50px #000;
    border-radius: 5px;
    -moz-transform: rotate(-1deg);
    /*-webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);*/



}

div#sponsor_form h1 {
    color: #000;
}

div.fieldset {
    padding: 2em 1em 1em 1em;
    margin-top: 2em;
    margin-bottom: 1em;
    position: relative;
    vertical-align: top;
    display: inline-block;

    text-align: left;
    font-size: 1.2em;
    line-height: 1.7em;
}

div.fieldset span.label {
    background: transparent;
    font-family:  'Lobster Two';
    font-weight: bold;
    font-size: 20pt;
}

#address_info {
    display: none;
    position: absolute;
    left: 600px;
    top: 20px;
}

#details {
    display: none;
    margin-top: 0;
    padding-top: 0;
    /*position: absolute;
    left: 12px;
    top: 350px;
    width: 488px;*/
}

#cc_info, #check_info {
    display: none;
}

#postcard_content {
    position: absolute;
    left: 12px;
    top: 170px;
    width: 450px;
}

#check_info blockquote {
    margin: 0.5em 0 0.5em 2em;
    font-family: Helvetica, sans;
    line-height: 1em;
    font-weight: bold;
}

div.fieldset input,
div.fieldset select {
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Coming Soon';
    border: none;
    border-bottom: #000 dashed 1px;
    background-color: transparent;
    margin: 2px 0 2px 0;
    outline: none;
}

#address_info input {
    line-height: 1.7em;
    text-align: left;
    width: auto;
}

div.fieldset input:focus {
    border-bottom-style: solid;
}

input.submit {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

input:-moz-placeholder,
textarea::-moz-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color:#ccc;
}

a.close {
    font-size: smaller;
    position: absolute;
    bottom: 1em;
    left: 1em;
    width: auto;
}
