<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Hannah Goes To Europe</title>
  <meta name="description" content="Help Hannah Go To Europe">
  <meta name="author" content="Richard Shepherd, Smashing Magazine">
  <meta name="author" content="Jason Novinger">

  <!-- Mmmmm, Google Web Fonts. That's a paddlin'. -->
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two:700&v2' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <ul id="circle_nav">
        <li class="circle selected" onclick="$.scrollTo('#first', 1000);"></li>
        <li class="circle" onclick="$.scrollTo('#second', 1000);"></li>
        <li class="circle" onclick="$.scrollTo('#third', 1000);"></li>
        <li class="circle" onclick="$.scrollTo('#fourth', 1000);"></li>
        <li class="circle" onclick="$.scrollTo('#theend', 1000);"></li>
    </ul>

  <div id="main" role="main">

	<!-- Section #1 / Intro -->
	<section id="first" class="story" data-speed="8" data-type="background">
		<article>
			<h1 class="lead">Hannah Goes To Europe</h1>

            <p>
                Hi! I am <strong>Hannah Novinger</strong> and I am going to <strong>Europe in 2012!</strong>
            </p>

            <p>
                You can help by sponsoring me as I prepare to see and experience the streets of London and Paris. A
                <strong>$5 donation will sponsor a half-hour</strong> of my adventure, while <strong>$10 will sponsor an
                entire hour</strong>. If you want, I'll even <strong>send you a postcard from London or Paris!</strong>
            </p>

            <p>
                Read through the site to see where we are going and all of the adventures we will have in these
                enchanted cities. You could help me see a play at the <strong>Globe</strong>, get a glimpse of
                the <strong>Mona Lisa</strong>, see the <strong>Crown Jewels</strong>, or catch a view from the top of
                the <strong>Eiffel Tower!</strong>
            </p>

            <p>
                Use the circles to the left to navigate to each location or simply scroll up and down. Go ahead,
                <a href="#" onclick="$.scrollTo('#second', 1500); return false;">try it out</a>! Check out my <a href="#" onclick="$.scrollTo('#theend', 10000);">blog</a> at the end to see what I am up
                to right now.
            </p>

            <div class="footer">
                <p>Gratuitously ripped off from Richard Shepherd / Twitter: <a href="http://twitter.com/richardshepherd" target="_blank">@richardshepherd</a><br>Web: <a href="http://richardshepherd.com">richardshepherd.com</a> / Original code: <a href="https://github.com/richardshepherd/Parallax-Scrolling/">Fork it here!</a></p>
                <p>
                    Original adapted and backend built by <a href="http://www.jnovinger.net">Jason Novinger</a>.
                </p>
            </div>

            <div class="license">
                <a href="http://en.wikipedia.org/wiki/File:London_Eye_Twilight_April_2006.jpg" target="license">License</a>
            </div>
	    </article>
	</section>

	<!-- Section #2 / Background Only -->
	<section id="second" class="story" data-speed="4" data-type="background">
		<article>
			<h2 class="lead">London, England</h2>
            <p>
                London has become one of the world's great melting pots while maintaining a distinct character that's all its own. From <strong>London Bridge</strong> to the <strong>House of Parliament</strong>, Great Britain's royal tradition and rich history greet you at every turn.
            </p>

            <p>
                Admire architectural marvels like the Baroque domes and spires of <strong>St. Paul's Cathedral</strong>,
                the 17th-century church designed by Sir Christopher Wren. Check out the lively five-way intersection
                at <strong>Piccadilly Circus</strong> as well as Hyde Park's urban greenery. You may even get a
                chance to witness the ceremonial <strong>Changing of the Guard.</strong> Finally, snap a picture of
                <strong>Big Ben</strong> from the bank of the River Thames.
            </p>

            <!--<div class="license">-->
                <!--<a href="http://en.wikipedia.org/wiki/File:Palace_of_Westminster,_London_-_Feb_2007.jpg" target="license">License</a>-->
            <!--</div>-->
		</article>
	</section>
	
	<!-- Section #3 / Photos -->
	<section id="third" class="story" data-speed="6" data-type="background" data-offsetY="250">    	
		<!--<div class="photograph" data-type="sprite" data-offsetY="1250" data-Xposition="25%" data-speed="2"></div>-->
    	<article>
    		<h2 class="lead">Kent, England</h2>
	    	<div class="textbox">    	
		    	<p>The next step in your parallax scrolling adventure is to create some sprites!</p>
		    	<p>I have cut out one of the photos in this background and use it as a sprite. It scrolls at a different speed to the background <i>and</i> the window, and it's this effect that's used so well on Nike Better World and other parallax sites..</p>
		    	<p>Using too many sprites can slow down older computers, and you need to use some clever maths (and trial & error!) to work out their placement on the page.</p>
		    </div>
    	</article>
	</section>	
	

	<!-- Section #4 / HTML5 Video -->
	<section id="fourth" class="story" data-speed="8" data-type="background" data-offsetY="250">
    	<article>
    		<h2 class="lead">Paris, France</h2>
	    	<div class="textbox">    	
		    	<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
		    	<p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
		    	<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. o.</p>
		    </div>
    	</article>
		<!--<video controls width="640" width="480" data-type="video" data-offsetY="2400" data-speed="1.5">-->
			<!--<source src="video/parallelparking.theora.ogv" type="video/ogg" />-->
			<!--<source src="video/parallelparking.mp4" type="video/mp4" />-->
			<!--<source src="video/parallelparking.webm" type="video/webm" />-->
		<!--</video>-->
	</section>	

	<!-- Section #5 / The End-->
	<section id="theend" class="story" data-speed="8" data-type="background" data-offsetY="250">    	
		<div class="byebye" data-type="sprite" data-offsetY="-1600" data-Xposition="50%" data-speed="-2"></div>	
	</section>
	
  </div> <!-- // End of #main -->



  <!-- Our Javascript, starting with jQuery -->
  <script src='js/libs/jquery-1.6.1.min.js'></script>
  <script src='js/libs/jquery.scrollTo-1.4.2-min.js'></script>
  <script src="js/script.js"></script>
  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg");
  <![endif]-->

  <script>
//    var _gaq=[["_setAccount","UA-5671436-1"],["_trackPageview"]];
//    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
//    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
//    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>

</body>
</html>