<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Hannah Goes To Europe</title>
  <meta name="description" content="Help Hannah Go To Europe">
  <meta name="author" content="Richard Shepherd, Smashing Magazine">
  <meta name="author" content="Jason Novinger">

  <link href='https://fonts.googleapis.com/css?family=Lobster+Two:700&v2' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
</head>

<body>

  <div id="main" role="main">

    <!-- Section #1 / Intro -->
    <section id="first" class="story" data-speed="8" data-type="background">
        <article>
            <h1 class="lead">Hannah Goes To Europe</h1>

            <p>
                Hi! I am <strong>Hannah Novinger</strong> and I am going to <strong>Europe in 2012!</strong>
            </p>

            <p>
                You can help by sponsoring me as I prepare to see and experience the streets of London and Paris. A
                <strong>$5 donation will sponsor a half-hour</strong> of my adventure, while <strong>$10 will sponsor an
                entire hour</strong>. If you want, I'll even <strong>send you a postcard from London or Paris!</strong>
            </p>

            <p>
                Read through the site to see where we are going and all of the adventures we will have in these
                enchanted cities. You could help me see a play at the <strong>Globe</strong>, get a glimpse of
                the <strong>Mona Lisa</strong>, see the <strong>Crown Jewels</strong>, or catch a view from the top of
                the <strong>Eiffel Tower!</strong>
            </p>

            {% include "section-nav.html" with next="london" next_text="Get Started Now!" %}


            <!--div class="footer">
                <p>Gratuitously ripped off from Richard Shepherd / Twitter: <a href="http://twitter.com/richardshepherd" target="_blank">@richardshepherd</a><br>Web: <a href="http://richardshepherd.com">richardshepherd.com</a> / Original code: <a href="https://github.com/richardshepherd/Parallax-Scrolling/">Fork it here!</a></p>
                <p>
                    Original adapted and backend built by <a href="http://www.jnovinger.net">Jason Novinger</a>.
                </p>
            </div-->
            {% if blog_entries %}
            <div class="blog_skip_button">
                <a class="button" href="#blog" onclick="$.scrollTo('#blog', 5000); return false;">Skip to Blog</a>
            </div>
            {% endif %}

            <div class="license">
                <a href="http://en.wikipedia.org/wiki/File:London_Eye_Twilight_April_2006.jpg" target="license">About</a>
            </div>
        </article>
    </section>

    <!-- Section #2 / Background Only -->
    <section id="london" class="story" data-speed="4" data-type="background">
        <article data-type='sprite' data-speed='-4' data-offsetY="-1000">
            <h2 class="lead">London, England</h2>
            <p>
                London has become one of the world's great melting pots while maintaining a distinct character that's all its own. From <strong>London Bridge</strong> to the <strong>House of Parliament</strong>, Great Britain's royal tradition and rich history greet you at every turn.
            </p>

            <p>
                Admire architectural marvels like the Baroque domes and spires of <strong>St. Paul's Cathedral</strong>, the 17th-century church designed by Sir Christopher Wren. Check out the lively five-way intersection at <strong>Piccadilly Circus</strong> as well as Hyde Park's urban greenery. You may even get a chance to witness the ceremonial <strong>Changing of the Guard.</strong> Finally, snap a picture of <strong>Big Ben</strong> from the bank of the River Thames.
            </p>

            {% include "sponsor_button.html" with section="london" %}
            {% include "section-nav.html" with next="kent" prev="first" %}
            <!--<div class="license">-->
                <!--<a href="http://en.wikipedia.org/wiki/File:Palace_of_Westminster,_London_-_Feb_2007.jpg" target="license">License</a>-->
            <!--</div>-->
        </article>
    </section>
   
    <!-- Section #3 / Photos -->
    <section id="kent" class="story" data-speed="6" data-type="background" data-offsetY="250">        
        <!--<div class="photograph" data-type="sprite" data-offsetY="1250" data-Xposition="25%" data-speed="2"></div>-->
        <article>
            <h2 class="lead">Kent, England</h2>
            <div class="textbox">
                <p>Kent is steeped in history and heritage and is also rightly renowned throughout the world as the Garden of England. The extensive coastline boasts an enviable array of blue flag award winning beaches and thrilling watersports activities.</p>

                <p>It's easy to visit Kent in England's south east corner, just 35 minutes from central London by high speed rail link, there's never been a better time to visit. Once here, you can stay carbon friendly and visit much of Kent by train including the county's iconic landmarks such as Canterbury Cathedral, Leeds Castle and the White Cliffs of Dover.</p>

            </div>
            {% include "sponsor_button.html" with section="kent" %}
            {% include "section-nav.html" with next="paris" prev="london" %}

        </article>
    </section>

    <!-- Section #4 / HTML5 Video -->
    <section id="paris" class="story" data-speed="8" data-type="background" data-offsetY="250">
        <article>
            <h2 class="lead">Paris, France</h2>
            <div class="textbox" data-type="sprite" data-offsetY="1250" data-Xposition="25%" data-speed="2">
                <p>Bonjour, Paris! During your siteseeing in the <strong>City of Light</strong>, get a tase of Parisian style as you ride down the <strong>Champs-Elysees</strong>, an elegant boulevard packed with high fashion boutiques. Pass the Place de la Concorde and the Ard de Triomphe and strike a pose in front of the <strong>Eiffel Tower</strong>.</p>
                <p>At the <strong>Ecole Militaire</strong>, see where a promising young Napoleon launched his rise to power. I.M. Pei's iconic glass pyramid marks the entrance to the renowned <strong>Louvre</strong>, home to treasures like Leonardo da Vinci's <strong>Mona Lisa</strong>. Then, travel to the <strong>Notre Dame Cathedral</strong> and admire its sculptured facade, strained-glass rose windows and seemingly weightless ceilings.</p>
            {% include "sponsor_button.html" with section="paris" %}
            </div>
            {% if blog_entries %}
                {% include "section-nav.html" with prev="kent" next="blog" %}
            {% else %}
                {% include "section-nav.html" with prev="kent" %}
            {% endif %}
        </article>
    </section>

    {% if blog_entries %}
    <section id="blog" class="story" data-speed="4" data-type="background" data-offsetY="250">
        {% for entry in blog_entries %}
            <article>
            </article>
        {% endfor %}
    </section>
    {% endif %}

  </div> <!-- // End of #main -->

  <div id="blanket" style="display:none;"></div>
  {% include "sponsor_form.html" %}

  <!-- Our Javascript, starting with jQuery -->
  <!-- uncomment the next line for local dev, and comment out the googleapis line -->
  <!--script src='{{ STATIC_URL }}js/libs/jquery-1.7.1.min.js'></script-->
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
  <script src='{{ STATIC_URL }}js/easing.js'></script>
  <script src='{{ STATIC_URL }}js/libs/jquery.scrollTo-1.4.2-min.js'></script>
  <script src="{{ STATIC_URL }}js/script.js"></script>
  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg");
  <![endif]-->

<script type="text/javascript">

/* General UI/UX stuff*/
$('#id_postcard').change(function() {
    if ($(this).val() == 'True') {
        $('#address_info').fadeIn('slow');
    } else {
        $('#address_info').fadeOut('slow');
    }
})

$('#id_first_name').keyup(function() {
    $('#id_full_name').val($(this).val() + " " + $('#id_last_name').val());
    $(this).attr('size', parseInt($(this).val().length) + 2);
})

$('#id_last_name').keyup(function() {
    $('#id_full_name').val($('#id_first_name').val() + " " + $(this).val());
    $(this).attr('size', parseInt($(this).val().length) + 2);
})

$('#id_payment_type').change(
    function() {
        val = $('#id_payment_type').val();
        if (val == "check") {
            $('#cc_info').fadeOut('slow');
            $('#details').fadeIn('slow');
            $('#check_info').fadeIn('slow');
        } else if (val == "cc") {
            $('#check_info').fadeOut('slow');
            $('#details').fadeIn('slow');
            $('#cc_info').fadeIn('slow');
        } else {
            $('#details').fadeOut('slow');
        }
    }
);

function center_object(obj) {
    win = $(window);
    obj.css({
        'top': (win.height() - obj.height()) / 2 + 'px',
        'left': (win.width() - obj.width()) / 2 + 'px',
    });
}

/* Handle resizing the window */
$(window).resize(function() {
    center_object($('#sponsor_form'));
    $('.story').height($(window).height());
});

sections = new Object();

{% for section in sections %}
    sections['{{ section|lower }}'] = {{ forloop.counter }};
{% endfor %}

function show_donation_form(section) {
    $('#blanket').fadeIn('slow');
    form = $('#sponsor_form');
    form.fadeIn('slow');

    center_object(form);
    $('#id_sections').val(sections[section]);
    $('#id_first_name').focus();

    return false;
}

/* Stripe stuff */
// this identifies your website in the createToken call below
Stripe.setPublishableKey('{{ stripe_publishable_key }}');

$(document).ready(function() {
  $("#payment-form").submit(function(event) {
    // we should check here to verify that this is a CC transaction, returning
    if ($('#id_payment_type').val() == 'check') {
        return;
    }
    // now if not

    // disable the submit button to prevent repeated clicks
    $('#submit-button').attr("disabled", "disabled");

    Stripe.createToken({
        number: $('#cc_number').val(),
        cvc: $('#cvc').val(),
        exp_month: $('#id_month').val(),
        exp_year: $('#id_year').val()
    }, stripeResponseHandler);

    // prevent the form from submitting with the default action
    return false;
  });
});

function stripeResponseHandler(status, response) {
    if (response.error) {
        // show the errors on the form
        //alert(response.error.message)
        $('#submit-button').removeAttr('disabled');
        $("#payment-errors").text(response.error.message);
    } else {
        var form$ = $("#payment-form");
        // token contains id, last4, and card type
        var token = response['id'];
        // insert the token into the form so it gets submitted to the server
        form$.append("<input type='hidden' name='stripeToken' value='" + token + "'/>");
        // and submit
        alert('Submitted! Stripe returned the following token: ' + token)
        form$.get(0).submit();
    }
}

/* Google Analytics*/
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-28426172-1']);
_gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>

</body>
</html>
