<div id="sponsor_form" class="popover" align="center">
  <form action="." method="post" id="payment-form">
  <input type="Submit" class="submit" value="Send!" id="submit-button">

  <a class="close" href="" onclick="$('#blanket').fadeOut('slow'); $('#sponsor_form').fadeOut('slow'); return false;">Cancel</a>
  {% if form %}
    <div id="postcard_content">
      <div class="fieldset" id="madblib">{% csrf_token %}
          <ul id="form-errors" class="error">

            <li id="payment-errors"></li>
            {% if form.amount.errors %}
              <li class="error">Nice try, we're not going anywhere till you select a donation amount. Oh, and thanks!</li>
            {% endif %}
        </ul>

        <span class='label'>That's so cool!</span>

        <p>My name is <input id="id_first_name" type="text" name="first_name" maxlength="50" size="2" value="{{ form.first_name.value }}" /> <input id="id_last_name" type="text" name="last_name" maxlength="255" size="2" value="{{ form.last_name.value }}" /> and I want to help out. Here's my {{ form.amount }} to help Hannah visit {{ form.sections }} I'll pay with {{ form.payment_type }}. Oh yeah, and I {{ form.postcard }} a postcard from Europe.</p>
      </div>
      <div class="fieldset" id="details">
        <div id="cc_info">
          Alrighty then, my credit card number is <input id='cc_number' type="text" size=16> and it expires {{ form.month }}, {{ form.year }}. That three digit code thingy on the back is <input type=text size=3 id='cvc'>. We use <a href="https://stripe.com/about" target="_stripe">Stripe</a> for credit card payments.
        </div>
        <div id="check_info">
          I am going to send a check to
          <blockquote>
            Hannah Novinger<br>
            1501 E 24th Street<br>
            Lawrence, KS 66046<br>
          </blockquote>
        </div>
      </div>
      <div class="fieldset" id="address_info">
        <span class="label">Send my postcard to ...</span>
        {% if form.errors.address %}
            <p class="error">{{ form.errors.address }}</p>
        {% endif %}
        <p>
          <input id="id_full_name" type="text" maxlength="255" size="25" title='Full name' /><br>
          <input id="id_address" type="text" name="address" maxlength="255" title='Street Address' /><br>
          <input id="id_city" type="text" name="city" maxlength="255" title='City' /><br>
<br>
          {{ form.state }} <input id="id_zip" type="text" name="zip" maxlength="5" size=5 title='Zip code' />
        </p>
      </div>

    </div>
    </form>


  {% endif %}


</div>


